/* Element reset, get rid of bullet style 
of ul */

ul{
  list-style-type: none;
  padding:0;

}

/* img {max-width: 100%;} 
= image will take up maximum 
of px assigned to Main image*/

img{
  max-width: 100%;
}

/*Main object*/

/* if % were used for .octocat, 
mages would shrink with browser size
change margin-right to % as well*/

.octocat {
  width: 300px;
  display: inline-block;
  margin-right: 10px;
}

.octocat img{
  border: 1px solid grey;
 }
 
 /*footer area*/

.image-footer{
  border-bottom: 1px solid grey;
  overflow: auto;
  /*overflow moves border underneath
  floated elements*/
}

.image-number{
  float:left;
}

.image-caption{
 
float: right;
}

 /*author area*/

.authors {
  display: inline-block;
}


.authors img{
  width: 25px;
}

