/* Element reset, get rid of bullet style 
of ul */

ul{
  list-style-type: none;
  padding:0;

}

/* img {max-width: 100%;} 
= image will take up maximum 
of px assigned to Main image*/

img{
  max-width: 100%;
}

/*Main object*/

/* if % were used for .octocat, 
mages would shrink with browser size
change margin-right to % as well*/

a {
  text-decoration: none;
}

.octocat {
  width: 300px;
  display: inline-block;
  margin-right: 10px;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}

.octocat img{
  border: 1px solid grey;
 }
 
 /*footer area*/

.image-footer{
  padding: 10px 0;
 /* overflow: auto;*/
  /*overflow moves border underneath
  floated elements*/
 position:relative;
  /*padding can be re-written as 10px 0 ONLY*/
}

/*triangle*/

.image-footer:before{
  width: 0;
height: 0;
border-style: solid;
border-width: 10px 8.5px 0 8.5px;
border-color: #cbcdcf transparent transparent transparent;
content:"";
position: absolute;
top:-4px;
right:0;


}

.image-number{
  float:left;
  margin-top: 7px;
}

.image-number:before{
content: "#";
}

.image-caption{
 
float: right;
}

 /*author area*/

.authors {
  display: inline-block;
  vertical-align: middle;
  /*aligns right and left elements to top and bottom*/
}


.authors img{
  width: 25px;
}



